{{ define "header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>onetim3</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/main.css">
        <script src="/static/crypto.js"></script>
    </head>
    <body>
        <header>
            <a href="/" id="site-title-link"><div id="site-title">
                         __   .__          ________  
  ____    ____    ____ _/  |_ |__|  _____  \_____  \ 
 /  _ \  /    \ _/ __ \\   __\|  | /     \   _(__  < 
(  <_> )|   |  \\  ___/ |  |  |  ||  Y Y  \ /       \
 \____/ |___|  / \___  >|__|  |__||__|_|  //______  /
             \/      \/                 \/        \/ 
                                               
            </div></a>
            <a href="https://github.com/cyllective/onetim3" rel="noreferrer nofollow noopener" target="_blank">github.com/cyllective/onetim3</a>
        </header>
        <main>
        <div id="error-message" class="border full-width pad"></div>
{{ end }}