{{ define "header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>olim</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/main.css">
        <script src="/static/crypto.js"></script>
    </head>
    <body>
        <header>
            <a href="/" id="site-title-link"><div id="site-title">        .__   .__          
  ____  |  |  |__|  _____  
 /  _ \ |  |  |  | /     \ 
(  <_> )|  |__|  ||  Y Y  \
 \____/ |____/|__||__|_|  /
                        \/ </div></a>
            <a href="https://github.com/cyllective/olim" rel="noreferrer nofollow noopener" target="_blank">source↗</a>
        </header>
        <main>
        <div id="error-message" class="border full-width pad"></div>
{{ end }}